body {
    margin: 0;
    padding: 0;
}
#main {
    background: rgb(224, 183, 133);
}
#title {
    font-family: 'Pacifico', 'cursive';
    font-size: 5rem;
    position: absolute;
    margin-top: 0;
    color: rgb(75, 47, 13);
    text-shadow: 2px 2px 2px rgb(241, 237, 237);
    text-align: center;
    margin-left: 30%;
}
#image {
    max-width: 100%;
    height: auto;
    margin-top: 0;
    border: 3px solid rgb(48, 36, 21);
    display: block;
}
#img-caption {
    text-align: center;
    font-size: 14px;
    color: rgb(27, 26, 26);
    font-family: 'Quicksand', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: italic;
    background: rgb(224, 183, 133);
}
#tribute-info {
    background: rgb(224, 183, 133);
}
.info-text {
    text-align: center;
    font-size: 20px;
    color: rgb(27, 26, 26);
    font-family: 'Quicksand', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.info-titles {
    text-align: center;
}

/*navbar*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);



nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 0px 0;
  z-index: 3;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  color: rgba(54, 30, 10, 0.952);
  font-size: 20px;
  font-style: bold;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(71, 9, 9, 0.1);
  color: rgba(187, 8, 8, 0.952);
  text-decoration: none;
  transform: scale(1.1);
  transition-duration: .1s;
}
/*navbar*/
#btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
}
#tribute-link {
    text-decoration: none;
    color: rgb(184, 59, 22);
}

#tribute-link:hover {
    color: rgb(139, 16, 16);
    text-decoration: none;
}